/* En este apartado se importan los styles css de cada componente */
@import "app/body/hero-area/hero-area.component";
/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";



/* Color Theme Swatches in Hex */
/* .M65-—-web-1-hex { color: #232A40; }
.M65-—-web-2-hex { color: #323C59; }
.M65-—-web-3-hex { color: #46788C; }
.M65-—-web-4-hex { color: #A67356; }
.M65-—-web-5-hex { color: #F2F2F2; } */
